nodedir/.flows_JibransMacBookPro.local.json.backup
[{"id":"9c451f45.a0fcf","type":"tab","label":"Flow 1"},{"id":"823f169.a578fe8","type":"lb_operation_hooks","z":"9c451f45.a0fcf","name":"leave added","model":"leave","hook":"after save","x":110,"y":140,"wires":[["86a818d5.dbd298"],["b66d914d.cb2dd"]]},{"id":"b66d914d.cb2dd","type":"debug","z":"9c451f45.a0fcf","name":"","active":true,"console":"false","complete":"payload","x":450,"y":320,"wires":[]},{"id":"201e9f0.f568662","type":"template","z":"9c451f45.a0fcf","name":"email Body","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"payload.head = \"header\";\npayload.body = \"sdbsahjcbsudy\"","output":"str","x":439.5,"y":152,"wires":[["502100be.f0a78"]]},{"id":"86a818d5.dbd298","type":"function","z":"9c451f45.a0fcf","name":"create payload","func":"msg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":323.5,"y":74,"wires":[["201e9f0.f568662"]]},{"id":"502100be.f0a78","type":"e-mail","z":"9c451f45.a0fcf","server":"smtp.gmail.com","port":"465","secure":true,"name":"jabran.bsse2074@iiu.edu.pk","dname":"sending email","x":600,"y":200,"wires":[]}]